@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;
  --color-white: #fff;
  --dark-text: #333;
  --form-button: #2da5ff;
  --color-grey: #eae6eb;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
a:hover{
  color: black;
  text-decoration: underline #fb0a07;
}
/* .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link:hover{
  text-decoration: none;
} */
a{
  color: black;
 text-decoration: none;
}


@media only screen and (max-width: 600px){
  .NoneForRes{
display: none;
  }
.divReverse {
    justify-content: center;
    display: flex;
    flex-wrap: wrap-reverse;
}}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.banner_main {
  background: url(../src/Components/Routes/assets/banner1.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  padding: 163px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control-sm{
  font-size: 27px;
}
.banner_main {
  position: relative;
}
.banner_main .bg_white h1 {
  color: #fff;
  font-size: 50px;
  line-height: 84px;
  font-weight: 700;
  padding-bottom: 22px;
}
.webkit{
  text-align: -webkit-center;
}

.banner_main .bg_white p {
  color: #fff;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 0px;
}

.banner_main .ban_btn {
  display: block;
  background: #fff;
  color: #000;
  font-size: 17px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 55px;
}
.videomain{
  background: url(../assets/border.png);
  background-repeat: round;
    text-align: center;
    border-radius: 170px;
    display: flex;
    height: 315px;
    width: 315px;
    align-items: center;
}
.videomain iframe{
  object-fit: cover;
  border-radius: 142px;
  width: 280px;
  height: 280px;
  border: 7px solid white;
}
.row>*{
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);

}
.bg{
  background-image: url(../assets/bg1.png);
  background-size: contain;
  background-repeat: round;
  padding: 60px;
}
.bg2{
  background-image: url(../assets/bg3.png);
  padding: 9px;
  background-size: cover;
  height: 451px;
  background-repeat: no-repeat;
  /* padding-bottom: 40px; */
  background-size: contain;
  align-items: center;
  background-position-y: center;
}
.fafause{
  background: white;
    font-size: 75px;
    color: rgb(233, 115, 92);
    padding: 20px;
    border-radius: 68px;
}
.bg1{
  padding: 60px;
  background-image: url(../assets/bg2.png);
  background-size: contain;
  background-repeat: round;
}
.dflexx{
  display: flex;
}
/* .navbar-expand-lg .navbar-collapse{
  display: contents!important;
} */
.banner_main1{
  background: url(../src/Components/Routes/assets/banner2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 163px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px){
  .banner_main{
    background-size: 100% 100% !important;
  }
  .banner_main1{
    background-size: 100% 100% !important;
  }
  .navbar-brand {
    width: 75% !important;
}
  .bg1{
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  .bg{
    background-size: cover !important;
    /* background-repeat: no-repeat !important; */
  }
.dflexx{
    display: inline-block !important;
    text-align: center;
}
  .fafause{
    background: none !important;
    font-size: 75px;
    color: rgb(233, 115, 92);
    padding: 0px !important;
    border-radius: none !important;
  }
  .bg2{
    height: auto !important;
    background: none !important;
  }
  .dflex{
    display: inline-table;
  }
  .dflex button{
    margin-top: 10px;
  }
  h2{
    font-size: 15px !important;
  }
  .mt5{
    margin-top: 3rem!important;
  }
  .content{
    display: contents !important;
  }
  .banner_main{
    padding: 0px !important;
  }
  .banner_main1{
    padding: 0px !important;
  }
}
.title {
  padding: 1rem var(--box-block-padding);
  font-weight: 600;
  color: #00458e;
}

.wrapper {
  display: flex;
  align-items: center;
  position: relative;

  padding: 2rem var(--box-block-padding);
}

output {
  text-align: center;
  padding-block: 5px;
  border-radius: 4px;
  width: var(--output-width);
  font-weight: 600;
  user-select: none;
}

#left {
  background: var(--clr-2);
  color: #fff;
  margin: 0 var(--range-inline-margin) 0 0;
}

#right {
  background: var(--clr-1);
  color: #000;
  margin: 0 0 0 var(--range-inline-margin);
}

.track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: var(--range-height);
  left: var(--track-left);
  /* 50% = .5 is starting range value */
  width: calc(0.5 * var(--range-width));

  background-color: var(--clr-2);
  border: none;
  border-radius: var(--range-radius) 0 0 var(--range-radius);
  z-index: 20;
  opacity: 1;
  /* avoid interference with thumb */
  pointer-events: none;
}

.range {
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: var(--range-width);

  cursor: pointer;

  height: var(--range-height);
  border-radius: var(--range-radius);
  background-color: var(--clr-1);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  z-index: 10;
}

.range:hover {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background-color: var(--clr-2);
  box-shadow: 0px 0px 0px 4px var(--clr-1);
  cursor: pointer;
  transition: var(--transition);
}

.range::-moz-range-thumb {
  -webkit-appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background-color: var(--clr-2);
  cursor: pointer;
  transition: var(--transition);
}

.range::-webkit-slider-thumb:hover {
  transform: scale(var(--hover-scale));
}

.range::-moz-range-thumb:hover {
  transform: scale(var(--hover-scale));
}
